<section class="footer">
   <div class="scroller">
  <a class="scroller__button" onclick="scrollWin(0, -1500)">zpět</a>
</div>
<div class="footer__contact">
      <h2 class="footer__contact__title">KONTAKTY</h2>
      <p class="contact__text">
        Chrám Povýšení svatého Kříže v Táboře  <br>
         <a class="footer__contact__link" href="https://mapy.cz/zakladni?source=addr&id=11321586&ds=1&x=14.6589825&y=49.4152544&z=17">Špitálském náměstí č. 285/1</a> <br>
        kněz Mgr. et Mgr. Jiří Táborský, DiS. <br>
        Tel: <a class="footer__contact__link" href="tel:+420 776 374 963 ">+420 776 374 963</a> <br>
        E-mail: <a class="footer__contact__link" href="mailto:o.jiri.taborsky@gmail.com "> o.jiri.taborsky@gmail.com </a> <br>
        Facebook: <a class="footer__contact__link" href="https://www.facebook.com/groups/cerkvatabor">https://www.facebook.com/groups/cerkvatabor </a>
      </p>
    </div>
 