
    
<!-- header -->
<header id="header">
    <div class="header__container"> 
       <nav class="header__navbar">
       <a href="/"> 
        <img class="header__logo" src="/img/obec-logo_optimized.png" alt="">
        </a>
        
          <ul class="header__nav-menu">
             <li class="nav-item">
                <a href="/" class="nav-link">ÚVOD</a>
             </li>
             <li class="nav-item">
                <a href="#community" class="nav-link">OBEC</a>
             </li>
             <li class="nav-item">
              <a href="/bohosluzby/" class="nav-link">BOHOSLUŽBY</a>
           </li>
             
             <li class="nav-item">
                <a href="/aktuality/" class="nav-link">AKTUALITY</a>
             </li>
             <li class="nav-item">
                <a href="/blog/" class="nav-link">BLOG</a>
             </li>
             <li class="nav-item">
             
                <a href="/galerie/" class="nav-link">GALERIE</a>
             </li>
            
             <li class="nav-item">
              <a href="#kontakty" class="nav-link">KONTAKTY</a>
           </li>
          </ul>
          <div class="header__hamburger">
             <span class="bar"></span>
             <span class="bar"></span>
             <span class="bar"></span>
          </div>
       </nav>
    </div>
  </header>