{% include "partials/header.njk" %}
{% include "partials/menu.njk" %}

<section class="servis">  
    <div class="servis__title__photo">
        <h1 class="servis__title__h1">BOHOSLUŽBY</h1>
        </div>
        <div class="servis__wednesday">
            <p class="wednesday__time">
                Pravidelná NEDĚLNÍ LITURGIE <br> OD 10 H <br>dále dle měsíčního rozpisu níže
            </p>
        </div>  
        <div class="servis__time">
            <img class="time__table" src="/img/{{ foto }}" alt="{{ alt }}">
        </div>
</section>
{% include "partials/contact.njk" %}
{% include "partials/footer.njk" %} 
 <script src="/js/script.js"></script>   
</body>
</html>