
{% include "partials/header.njk" %}
{% include "partials/menu.njk" %}
<article class="article">
    
    <h2 class="article__title">{{ title }}
       
        </h2>
        <p class="article__meta">Publikováno {{ page.date.toLocaleString('cs-Cz') }} </p>
        <div class="article__content">
            <div class="article__text">
                <img class="article__img" src="/img/{{ foto }}" alt="{{ alt }}">
                <p class="article__perex">
                {{ perex }}
                    
                   </p>
                  {{ content | safe }}
                 </div>
                 
            </div>
        
</article>

{% include "partials/contact.njk" %}
{% include "partials/footer.njk" %}

 <script src="/js/script.js"></script>   
</body>
</html>