{% include "partials/header.njk" %} ¨
{% include "partials/menu.njk" %}
{{ content | safe }}
{% include "partials/contact.njk" %}
{% include "partials/footer.njk" %}
    <script src="/js/script.js"></script>
       
</body>
</html>